

.long-divider {
	border-top: 3px solid black;
	width: 80%;
	min-width: 276px;
	margin: 0 auto;
}


.medium-divider {
	border-top: 3px solid black;
	width: 40%;
	min-width: 276px;
	margin: 0 auto;
}

.content-align-rule {
	text-align: left;
}

.center {
	text-align: center;
	vertical-align: center;
}

/* more specific content alignment */
.content-align-rule .long-divider, .content-align-rule .medium-divider {
	margin-left: 0;
}

@media only screen and (max-width:768px) { /* Medium Screen Size Changes */
	.content-align-rule {
		text-align: center;
	}

	.content-align-rule p {
		text-align: left;
	}

		/* more specific content alignment */
	.content-align-rule .long-divider, .content-align-rule .medium-divider {
		margin: 0 auto;
	}
}

/*.center {
	text-align: center;
}*/

#extra-space {
	padding: 1rem;
}

.responsive-feature-image {
	width: 100%;
	max-width: 500px;
	border-radius: 5%;
}


/* Responsive Images with different max widths */
.responsive-fluid-image-rounded-sm {
	width: 100%;
	border-radius: 5%;
	max-width: 576px;
}

.responsive-fluid-image-rounded-md {
	width: 100%;
	border-radius: 5%;
	max-width: 768px;
}

.responsive-fluid-image-rounded-lg {
	width: 100%;
	border-radius: 5%;
	max-width: 992px;
}

.responsive-fluid-image-rounded-xl {
	width: 100%;
	border-radius: 5%;
	max-width: 1200px;
}

.responsive-fluid-image-rounded {
	width: 100%;
	border-radius: 5%;
}




