
/*
 * extra small, .col-, <576px
 * small, .col-sm-, >=576px
 * medium, .col-md-, >=768px
 * large, .col-lg-, >=992px
 * extra large, .col-xl, >=1200px
 */

body {
	text-align: left;
}

@media only screen and (max-width:768px) { /* Medium Screen Size Changes */
	body {
		text-align: center;
	}
}

.top-heading {
	text-align: center;
}
.project-type {
	padding: 0%;
	display: inline-block;
	margin: 1%;
}

.radio-button {
	padding: 0%;
	display: inline-block;
	margin: 1%;
}

.project-button {
	width: 50%;
	height: 4rem;
}

@media only screen and (max-width:992px) { /* Slightly larger than Medium Screen Size Changes */
	.project-button {
		width: 100%;
	}
}


@media only screen and (max-width:360px) { /* Extra Small Size Changes */
	.project-button {
		height: 6rem;
	}
}

