/*
 * extra small, .col-, <576px
 * small, .col-sm-, >=576px
 * medium, .col-md-, >=768px
 * large, .col-lg-, >=992px
 * extra large, .col-xl, >=1200px
 */
/*
:root {
  --small-width: 576px;
  --medium-width: 768px;
  --large-width: 992px;
  --extra-large-width: 1200px;
}
*/





/* Hero Section */

.hero-section {

	color: white;
	text-align: left; 
}

@media only screen and (max-width: 992px) { /* Large Screen Size Changes */
	.hero-section {
		text-align: center;
	}
}

.hero-image {
	border-radius: 25%;
	width: 100%;
	margin: auto 0;
	border: 5px solid white;
}

.hero-container {
	margin: auto 0;
}

.my-name {
	margin-bottom: 10%;
}




/* Trade Section */

.trade-image {
	width: 100%;
	border-radius: 15%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.trade-box {
	padding: 2% 5%;
}



@media only screen and (max-width: 1200px) { /* Extra Large Screen Size Changes */
	.trade-image {
		max-width: 400px;
	}
}

@media only screen and (max-width: 768px) { /* Medium Screen Size Changes */
	.trade-image {
		width: 100%;
	}
}

.trade-heading {
	font-size: 2rem;
}

.trade-paragraph {
	font-size: 1.2rem;
	color: #616161;
}


/* About Me */

.about-me p {
	text-align: left;
}


/* Contact Me Section */



