/* Shared styling for all pages */

/*
 * extra small, .col-, <576px
 * small, .col-sm-, >=576px
 * medium, .col-md-, >=768px
 * large, .col-lg-, >=992px
 * extra large, .col-xl, >=1200px
 */
/*
:root {
  --small-width: 576px;
  --medium-width: 768px;
  --large-width: 992px;
  --extra-large-width: 1200px;
}
*/


body {
	width: 100%;
	margin: 0;
	min-height: 1px;
	text-align: center;
}

/*headings*/
h1, h2, h3, h4, h5, h6 {
	font-family: 'Josefin Slab', serif;
}

p, a {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 1rem;
}

.extra-large-heading {
	font-weight: 700;
	font-size: 6rem;
}

.large-heading {
	font-weight: 700;
	font-size: 4.5rem;
}

.medium-heading {
	font-weight: 600;
	font-size: 2.5rem;
}

@media only screen and (max-width:992px) { /* Large Screen Size Changes */
	.extra-large-heading {
		font-size: 4rem;
	}

	.large-heading {
		font-size: 2.5rem;
	}

	.medium-heading {
		font-size: 1.5rem;
	}
}

@media only screen and (max-width:576px) { /* Small Screen Size Changes */
	.extra-large-heading {
		font-size: 2.5rem;
	}

	.large-heading {
		font-size: 1.5rem;
	}

	.medium-heading {
		font-size: 1rem;
	}
}




/* Navigation Bar */
.navigation-bar {
	overflow: hidden;
	position: fixed; /* Set the navbar to fixed position */
	top: 0; /* Position the navbar at the top of the page */
	width: 100%; /* Full width */
	z-index: 100;
}

.navigation-spacing {
	/*margin: 5px auto;*/
	background: #485563;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}



/* Sections */
.section {
	padding: 3% 15%;
}

.section-ying {
	/*	background: rgb(79,79,79);
	background: linear-gradient(90deg, rgba(79,79,79,1) 0%, rgba(135,135,135,1) 42%, rgba(201,201,201,1) 100%);*/

	background: #485563;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	color: white;
}

.section-yang {
/*	background: rgb(60,206,242);
	background: linear-gradient(90deg, rgba(60,206,242,1) 0%, rgba(176,235,244,1) 42%, rgba(201,201,201,1) 100%);
	padding: 7% 12.5% 3%;
	margin: 0;*/

	background: #eacda3;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #d6ae7b, #eacda3);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #d6ae7b, #eacda3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}